<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/602c9d5c27.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>pagefly</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <h1 >Decoz</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">login</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="starting">
        <p class="the-spring pt-3">The Spring Collection</p>
        <h4 class="give">Give a new look</h4>
        <div class="container">
            <div class=" row justify-content-center text-center">
                <div class="col-lg-4 col-sm-6 col-md-3 ">
                    <img src="../assets/images/img1.webp" class="img-fluid" alt="...">
                    <h5 class="card-title for-dinning">For Dinning Room</h5>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-3">
                    <img src="../assets/images/img2.webp" class="img-fluid" alt="...">
                    <h5 class="card-title for-dinning">For Dinning Room</h5>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-3">
                    <img src="../assets/images/img3.webp" class="img-fluid" alt="...">
                    <h5 class="card-title for-dinning">For Dinning Room</h5>
                </div>
            </div>


            <div class="second-row justify-content-center mt-5 container">
                <div class="row">
                    <div class="col-lg-4 col-sm-12 col-md-6">
                        <img src="../assets/images/img4.webp" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-6" style="background-color: #EDDCC2; ">
                        <h1 class="not-just">Not Just A Way Of Living</h1>
                        <p style="color: #403F3D;">A cozy atmosphere with family can replace your stress with comfy and
                            convenience right after
                            walking through the doorway. Nothing is better than sitting on a soft chair and enjoying
                            your warm drink after a long day at work.</p>
                        <div class="button">
                            <button type="button" class="btn  learn-more btn-lg">Learn More</button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-6">
                        <img src="../assets/images/img5.webp" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="next-row">
            <p class="Our-Best-Seller">Our Best Seller</p>
            <h2 class="Family-Chair-Set">Family Chair Set</h2>
            <p class="Sustainable">Sustainable - Eco-friendly materials - For sensitive skin</p>
        </div>

        <div class=" mt-5 container">
            <div class="row gap-4 justify-content-center">
                <div class="col-lg-3 col-sm-12 col-md-6 shadow" style="background-color: white; border-radius: 10px;">
                    <img src="../assets/images/img6.webp" class="img-fluid" alt="...">
                    <div class="container">
                        <p class="card-text lawson">Lawson chair</p>
                        <span style="display: flex; gap: 10px;">
                            <div class="color1"></div>
                            <div class="color2"></div>
                        </span>
                        <div style="display: flex; gap: 10px;">
                            <s style="color: #838383; font-weight: 600;">$2,700.00</s>
                            <p style="color: #A57F4E; font-weight: 600;">$3,500.00</p>
                        </div>
                        <div class="d-grid pb-4">
                            <button class="btn btn- large" type="button">Add To Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12 col-md-6 shadow" style="background-color: white; border-radius: 10px;">
                    <img src="../assets/images/img7.webp" class="img-fluid" alt="...">
                    <div class="container">
                        <p class="card-text lawson">Luna butterfly table</p>
                        <span style="display: flex; gap: 10px;">
                            <div class="color1"></div>
                            <div class="color2"></div>
                        </span>
                        <div style="display: flex; gap: 10px;">
                            <s style="color: #838383; font-weight: 600;">$2,700.00</s>
                            <p style="color: #A57F4E; font-weight: 600;">$3,500.00</p>
                        </div>
                        <div class="d-grid pb-5">
                            <button class="btn btn- large" type="button">Add To Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12 col-md-6 shadow" style="background-color: white; border-radius: 10px;">
                    <img src="../assets/images/img8.webp" class="img-fluid" width="300px" alt="...">
                    <div class="container">
                        <p class="card-text lawson">Chesterfield closet</p>
                        <span style="display: flex; gap: 10px;">
                            <div class="color1"></div>
                            <div class="color2"></div>
                        </span>
                        <div style="display: flex; gap: 10px;">
                            <s style="color: #838383; font-weight: 600;">$2,700.00</s>
                            <p style="color: #A57F4E; font-weight: 600;">$3,500.00</p>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn- large" type="button">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-lg-6" style="background-color: #EDDCC2;">
                    <div class="container ">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 mt-5">
                                <h1 class="Differently">We Do Things Differently</h1>
                                <p class="Differently_paragraph ">With more than 5 years of experience in Home
                                    Decoration
                                    field,
                                    we
                                    have
                                    assisted hundreds of customers to
                                    improve their house as well as their lifestyle. Understanding the need for dedicated
                                    products,
                                    we
                                    only
                                    use high-quality raw materials with high-quality workmanship, providing the best
                                    experience
                                    for
                                    all
                                    of
                                    your family members.</p>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row justify-content-center text-center">
                                <div class="col-lg-3 col-sm-3 col-md-3 ">
                                    <i class="icons fa-solid fa-angles-right"></i>
                                    <h2 class="members">Member Special Gift</h2>

                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <i class="icons fa-regular fa-heart"></i>
                                    <h2 class="members">Member Special Gift</h2>

                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 ">
                                    <i class="icons fa-solid fa-address-card"></i>
                                    <h2 class="members">Member Special Gift</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../assets/images/WhatsApp Image 2024-12-17 at 15.46.31_73e5d7c4.jpg" height="auto"
                        width="auto" class="img-fluid"></img>
                </div>
            </div>
        </div>

        <div class="next-row">
            <p class="dont">Don't Miss This Chance </p>
            <h2 class="sale-up">Sale Up to 50%</h2>
            <div class="container">
                <div class="row row-cols-1 row-cols-md-4 g-4 mt-5">
                    <div class="col ">
                        <div class="card h-100 back shadow">
                            <img src="../assets/images/c1.avif" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Wingback buttoned bed</h5>
                                <span style="display: flex; gap: 10px; margin-top: 20px;">
                                    <div class="color1"></div>
                                    <div class="color2"></div>
                                </span>
                                <div style="display: flex; gap: 10px; margin-top: 20px;">
                                    <s style="color: #838383; font-weight: 600;">$2,700.00</s>
                                    <p style="color: #A57F4E; font-weight: 600;">$3,500.00</p>
                                </div>
                                <div class="d-grid pb-2">
                                    <button class="btn btn- large" type="button">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card h-100 back shadow">
                            <img src="../assets/images/c2.avif" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Luna butterfly table</h5>
                                <span style="display: flex; gap: 10px; margin-top: 20px;">
                                    <div class="color1"></div>
                                    <div class="color2"></div>
                                </span>
                                <div style="display: flex; gap: 10px; margin-top: 20px;">
                                    <s style="color: #838383; font-weight: 600;">$2,700.00</s>
                                    <p style="color: #A57F4E; font-weight: 600;">$3,500.00</p>
                                </div>
                                <div class="d-grid pb-2">
                                    <button class="btn btn- large" type="button">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card h-100 back shadow">
                            <img src="../assets/images/c3.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Chesterfield closet</h5>
                                <span style="display: flex; gap: 10px; margin-top: 20px;">
                                    <div class="color1"></div>
                                    <div class="color2"></div>
                                </span>
                                <div style="display: flex; gap: 10px; margin-top: 20px;">
                                    <s style="color: #838383; font-weight: 600;">$2,700.00</s>
                                    <p style="color: #A57F4E; font-weight: 600;">$3,500.00</p>
                                </div>
                                <div class="d-grid pb-2">
                                    <button class="btn btn- large" type="button">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="card h-100 back shadow">
                            <img src="../assets/images/c4.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Chesterfield closet</h5>
                                <span style="display: flex; gap: 10px; margin-top: 20px;">
                                    <div class="color1"></div>
                                    <div class="color2"></div>
                                </span>
                                <div style="display: flex; gap: 10px; margin-top: 20px;">
                                    <s style="color: #838383; font-weight: 600;">$2,700.00</s>
                                    <p style="color: #A57F4E; font-weight: 600;">$3,500.00</p>
                                </div>
                                <div class="d-grid pb-2">
                                    <button class="btn btn- large" type="button">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- *--------------------------********************************************************** -->
        <div class="mt-5">
            <h2 class="Experts mt-3">Experts Care For Your Home</h2>
            <div class="container">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="../assets/images/l1.avif" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title stay">Stay safe and healthy</h5>
                                <p class="card-text" style="font-size: small;">Only choose safe materials for your
                                    babies’ sensitive skin. Not all
                                    materials are alike. Find out which one will be the most suitable with these quick
                                    tips.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../assets/images/l2.avif" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title stay">Reduce, reuse, and recycle!</h5>
                                <p class="card-text" style="font-size: small;">As a friend of the environment, we don’t
                                    just simply throw out the
                                    old furniture and get the new one. Let’s see how we can make it better together.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../assets/images/l3.avif" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title stay">Bring your living room to the New</h5>
                                <p class="card-text " style="font-size: small;">Tone up the room and express who you are
                                    with the soft light color
                                    of this spring season. Wooden furniture will be the first choice for the cozy
                                    feeling</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5" style="background-color: #EDDCC2;">
            <div class="row">
                <div class="col-lg-6">
                    <div class="container ">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 mt-5">
                                <p style="margin-top: 200px;">Not really sure if the product meets my needs at first,
                                    but after seeing this brand’s
                                    bedroom in my friend’s house, I have no other doubts and need to buy myself one at
                                    once. Cannot deny this comfy!</p>
                                <br>
                                <span style="text-align: center;">
                                    <i class="text-center">Emma S</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../assets/images/iiiiii.webp" height="auto" width="auto" class="img-fluid"></img>
                </div>
            </div>
        </div>
    </div>
    



        <div class="container-fluid subscription-section  " style="background-color:  #6A6A6A; color: white;">
            <div class="subscription-container container" >
                <div class="row justify-content-center" >
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <h2 class="mt-5">Be our new family member now</h2>
                        <p>Get the latest promotion, tips and sharing. No spam guaranteed!</p>
                    </div>
                    <div class="col-lg-6">
                        <form>
                            <div class="input-group mb-3 mt-5 gap-1">
                                <input type="email" style="background-color: #6A6A6A; color: white;" class="form-control" placeholder="Your email" aria-label="Email">
                                <div class="input-group-append">
                                    <button class="btn btn-submit btn- submit" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

</body>

</html>